.mainContainer{
    /* background-color: transparent; */
    background-color: rgb(154, 59, 59,0.5);
    height: 150px;
    display: flex;
    flex-direction: row ;    
    border-bottom: 1px solid rgb(233, 248, 249);
    /* margin-bottom: 15px; */
    transition: all 0.3s;
}

.mainContainer:hover{
    height: 160px;
    background-color: rgba(148, 43, 43, 0.5);

    
}

.logo {
    height: 70px;
    margin:40px;
    margin-right: 10em;
    align-self: flex-start;
    transition: all 0.3s;

}

.logo:hover{
    scale: 1.1;
}

.sb{
    /* background-color: yellow; */
    margin-left: 4em;
    margin-right:auto;
}